<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szy.lib.network">
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.szy.lib.network.Glide.OkHttpGlideModule"
            android:value="AppGlideModule">
        </meta-data>
    </application>
</manifest>
